@import 'variables';

.unitCard {
  :nth-child(2) {
    padding: 0 5px;
  }
  border: $border;
  min-height: 725px;
  margin-bottom: 45px;
  padding: 0;
  .char {
    padding-left: 0;
    padding-right: 0;
  }
  .char-block {
    padding: 0;
  }
  .unitButtons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 5px;
  }
}
.statusEffectDisplay {
  border: $border;
}
.defences {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
#battlePageWrapper {
  input {
    width: 58px;
  }
}