@import 'variables';

#battle-page-wrapper {
  padding-bottom: 30px;
  input {
    width: 48px;
    padding: 0 0 0 15px;
  }
  .row {
    overflow-x: auto;
    white-space: nowrap;
    .unit-card {
      display: inline-block;
      float: none;
      .detail-display {
        white-space: normal;
      }
    }
  }
}

.unit-name {
  border-bottom: $border;
  margin-top: 5px;
  margin-bottom: 5px;
}

.characteristic-block {
  padding: 0;

  .char {
    font-size: 1.1rem;
    padding: 6px 2px 0 2px;
    border: $border;
    border-radius: 5px;
  }
}

.unit-card {
  border: $border;
  height: 100%;
  min-height: 708px;
  margin-bottom: 45px;
  padding: 0;

  .unit-info, .char-block, .thresholds, .defences, .char {
    padding: 0;
  }

  .unit-buttons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 5px;
  }
}

.detail-display {
  div:first-of-type {
    padding-left: 5px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
    h4 {
      padding: 0;
    }
  }
  border: $border;
  padding: 5px 2px;
  margin-bottom: .45em;
}

.card-top {
  height: 375px;
  overflow-y: scroll;
}

.defences {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
} 

.threshold-items {
  p:first-of-type {
    margin-top: 11px;
  }
  padding-left: 31px;
}

.card-bottom {
  padding: 0 0 50px 0;
}

#buttonWrapper {
  border-top: $border;
  padding: 15px 0;
  background-color: white;
}