body {
  background-color: #fffaf4;
  font-family: sans-serif;
}

#newUnit1, #editUnit {
  margin-bottom: 150px;
  .char-block {
    padding: 15px 25px 0 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #b7361a;
    color: white;
    input {
      border: 2px solid black;
      padding: 0 0 0 18px;
      border-radius: 50%;
      cursor: default;
    }
    label {
      margin-top: 25%;
      width: 50px;
    }
  }
}

.difficulty-block {
  label {
    font-size: 1.4em;
  }
}

.dropdown-choice {
  max-height: 200px;
  overflow-y: scroll;
}

#count-and-soak, #name-and-buttons, #unit-details {
  margin-top: 5%;
}

#count-and-soak, #unit-details {
  .count-block {
    margin-left: 4%;
  }
  .char-block {
    padding: 0;
    border: 4px solid black;
    background-color: saddlebrown;
    min-height: 100px;
    input {
      border: none;
      border-radius: 0;
      background-color: white;
      padding-left: 47%;
      position: absolute;
      top: 46px;
    }
    label {
      margin-top: 0;
      width: 100%;
      color: white;
    }
  }
}

#name-and-buttons {
  button {
    margin: 10px;
  }
}