<div id="battlePageWrapper">
  <div class="unitCard col-sm-6" ng-repeat="unit in units">
    <div class="col-sm-12">
      <h4 class="col-sm-6">{{unit.name}}</h4>
      <h5 class="col-sm-6">{{unit.groupId}}</h5>
    </div>
    <!-- END NAME AND GROUP BLOCK !-->
    <div class="col-sm-12">
      <div class="col-sm-2">
        <p>{{unit.brawn}}</p>
        <p>BRAWN</p>
      </div>
      <div class="col-sm-2">
        <p>{{unit.agility}}</p>
        <p>AGILITY</p>
      </div>
      <div class="col-sm-2">
        <p>{{unit.intellect}}</p>
        <p>INTELLECT</p>
      </div>
      <div class="col-sm-2">
        <p>{{unit.cunning}}</p>
        <p>CUNNING</p>
      </div>
      <div class="col-sm-2">
        <p>{{unit.willpower}}</p>
        <p>WILLPOWER</p>
      </div>
      <div class="col-sm-2">
        <p>{{unit.presence}}</p>
        <p>PRESENCE</p>
      </div>

    </div>
    <div class="col-sm-12" ng-init="this['states'+$index+'.isopen']=false">
      <label for="statusCheckbox">Has Status</label>
      <input name="statusCheckbox" type="checkbox">
      <div class="btn-group" uib-dropdown is-open="this['states'+$index+'.isopen']">
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
          Pick One
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li ng-repeat="state in states" role="menuitem">
            <a value="{{state.id}}" ng-click="addState(unit, state.id)" ng-model="unit.statusEffects">{{state.name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 statusEffectDisplay">
        <h5>{{unit.statusEffectNames}}</h5>
        <p>{{unit.statusEffectDescription}}</p>
        <button class="btn btn-danger" ng-show="unit.statusEffects != 'none' || undefined" ng-click="removeState(unit)"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>
    <!-- END STATES BLOCK !-->
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <p>Soak</p>
          <p>{{unit.soak}}</p>
        </div>
        <!-- END SOAK BLOCK !-->
        <div class="col-sm-6">
          <p>M / R Defense</p>
          <p>{{unit.meleeDef}} | {{unit.rangeDef}}</p>
        </div>
      </div>
      <!-- END DEFENSE BLOCK !-->
      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="col-sm-12 text-center">
            <p>Wound</p>
            <p>Threshold | Current</p>
          </div>
          <div class="col-sm-12">
            <div>
              <p class="col-sm-6">{{unit.woundThreshold}}</p>
              <div class="col-sm-4 input-group input-group-lg">
                <input type="number" ng-model-options="{ debounce: 450, updateOn: 'default' }" ng-change="updateUnitWound(unit)" ng-model="unit.currentWound" name="currentWoundSelector" class="form-control"  aria-describedby="sizing-addon1">
              </div>
            </div>
          </div>
        </div>
        <!-- END WOUND BLOCK !-->
        <div class="col-sm-6">
          <div class="col-sm-12 text-center">
            <p>Strain</p>
            <p>Threshold | Current</p>
          </div>
          <div class="col-sm-12">
            <p class="col-sm-6">{{unit.strainThreshold}}</p>
            <div class="col-sm-4 input-group input-group-lg">
              <input type="number" ng-model-options="{ debounce: 450, updateOn: 'default' }" ng-change="updateUnitStrain(unit)" ng-model="unit.currentStrain" name="currentStrainSelector" class="form-control" aria-describedby="sizing-addon1">
            </div>
          </div>
          <!-- END STRAIN BLOCK !-->
        </div>
        <!-- END BOTTOM HALF OF CARD !-->
      </div>
    </div>
    <div class="col-sm-12 unitButtons">
      <button ng-click="toEditUnit(unit.id)" class="btn btn-warning">Edit</button>
      <button ng-click="toDetails(unit.id)" class="btn btn-info">Details</button>
      <button ng-click="isDead(unit)" class="btn btn-danger">Dead</button>
    </div>
    <!-- END BUTTONS BLOCK !-->
  </div>
  <!-- END UNIT CARD !-->

  <div class="col-sm-12" id="buttonWrapper">
    <button class="btn btn-primary" ng-click="toCreate()">Add New</button>
    <button class="btn btn-primary" ng-click="toLibrary()">Add From Library</button>
    <button class="btn btn-primary" ng-show="units.length >= 1" ng-click="endBattle()">End Battle</button>
  </div>
</div>