<div id="newUnit1">
  <h1 class="text-center">Create</h1>
  <div class="col-sm-12">
    <button class="btn btn-success" ng-click="randomStatsForDifficulty(unitInfo.difficultyName)">Randomize</button>
  </div>
  <div ng-if="userError">
    <h2>{{userError}}</h2>
  </div>
  <form novalidate name="newUnitForm" class="form-inline">
    <div class="form-group">
      <div class="col-sm-6">
        <label for="difficultyRadio">Difficulty</label>
        <div>
          <label class="radio-inline">
            <input type="radio" name="difficultyRadio" ng-model="unitInfo.difficultyName" value="Minion">Minion</label>
          <label class="radio-inline">
            <input type="radio" name="difficultyRadio" ng-model="unitInfo.difficultyName" value="Rival">Rival</label>
          <label class="radio-inline">
            <input type="radio" name="difficultyRadio" ng-model="unitInfo.difficultyName" value="Nemesis">Nemesis</label>
        </div>
      </div>

      <div class="col-sm-6">
        <h2>Characteristics</h2>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="brawnSelector">Brawn</label>
          <input type="number" ng-model="unitInfo.brawn" name="brawnSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="agilitySelector">Agility</label>
          <input type="number" ng-model="unitInfo.agility" name="agilitySelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="intellectSelector">Intellect</label>
          <input type="number" ng-model="unitInfo.intellect" name="intellectSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="cunningSelector">Cunning</label>
          <input type="number" ng-model="unitInfo.cunning" name="cunningSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="willpowerSelector">Willpower</label>
          <input type="number" ng-model="unitInfo.willpower" name="willpowerSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="presenceSelector">Presence</label>
          <input type="number" ng-model="unitInfo.presence" name="presenceSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group">
          <label for="unitCount"> Unit Count: </label>
          <br>
          <select name="unitCount" ng-model="unitInfo.unitCount">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <br>
        </div>
        <label for="groupName">Group Name</label>
        <input type="text" ng-model="unitInfo.groupName" name="groupName" class="form-control" aria-describedby="sizing-addon1">
      </div>
      <div class="col-sm-6">
        <div class="col-offset-2 col-sm-2 input-group input-group-lg">
          <label for="soakSelector">Soak</label>
          <input type="number" ng-model="unitInfo.soak" name="soakSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="woundThresholdSelector">Wound Threshold</label>
          <input type="number" ng-model="unitInfo.woundThreshold" name="woundThresholdSelector" placeholder="0" class="form-control"
            placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="strainThresholdSelector">Strain Threshold</label>
          <input type="number" ng-model="unitInfo.strainThreshold" name="strainThresholdSelector" placeholder="0" class="form-control"
            aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="meleeDefSelector">Melee Defense</label>
          <input type="number" ng-model="unitInfo.meleeDef" name="meleeDefSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-2 input-group input-group-lg">
          <label for="rangeDefSelector">Ranged Defense</label>
          <input type="number" ng-model="unitInfo.rangeDef" name="rangeDefSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div>
        <h2>Name:</h2>
        <input type="text" ng-model="unitInfo.name">

        <h2>Description</h2>
        <input type="text" ng-model="unitInfo.description">

        <h4>Abilites</h4>
        <input type="text" ng-model="unitInfo.abilities">

        <h4>Skills</h4>
        <input type="text" ng-model="unitInfo.skills">

        <h4>Talents</h4>
        <input type="text" ng-model="unitInfo.talents">

        <h4>Weapons</h4>
        <!-- Single button -->
        <div class="btn-group" uib-dropdown is-open="weaponDropDown.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            Pick One
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ng-repeat="weapon in weapons" role="menuitem">
              <a value="{{weapon.id}}" ng-model="unitInfo.weaponId">{{weapon.name}}</a>
            </li>
          </ul>
        </div>
        <p>{{weapon.description}}</p>
        <h4>Equipment</h4>
        <div class="btn-group" uib-dropdown is-open="equipmentDropDown.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            Pick One
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ng-repeat="equipment in equipments" role="menuitem">
              <a value="{{equipment.id}}" ng-model="unitInfo.equipmentId">{{equipment.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <h4>Add to a Folder</h4>
      <div class="btn-group" uib-dropdown is-open="foldersDropDown.isopen">
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
          Your Folders
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li ng-repeat="folder in folders" role="menuitem">
            <a value="{{folder.id}}" ng-model="unitInfo.folder">{{folder.name}}</a>
          </li>
        </ul>
      </div>
      <div>
        <button ng-click="addAndBattle(unitInfo)" type="submit" class="btn btn-default" value="Save">Save And Proceed To Battle</button>
      </div>
      <div>
        <button ng-click="addAndAgain(unitInfo)" type="submit" class="btn btn-default" value="Save">Save Unit And Make Another</button>
      </div>
      <div>
        <button class="btn btn-primary btn-large center" type="reset" ng-click="reset()">Clear All
        </button>
      </div>
    </div>
  </form>
</div>