<div id="newUnit1">
  <h1 class="text-center">Create</h1>
  <div ng-if="userError">
    <h2>{{userError}}</h2>
  </div>
  <form novalidate name="newUnitForm" class="form-inline">
    <div class="form-group">
      <div class="col-xs-12">
        <div class="col-sm-4 text-center difficulty-block">
          <h2>Difficulty</h2>
          <div>
            <label class="radio-inline">
              <input type="radio" name="difficultyRadio" ng-model="unitInfo.difficultyName" value="Minion">Minion</label>
            <label class="radio-inline">
              <input type="radio" name="difficultyRadio" ng-model="unitInfo.difficultyName" value="Rival">Rival</label>
            <label class="radio-inline">
              <input type="radio" name="difficultyRadio" ng-model="unitInfo.difficultyName" value="Nemesis">Nemesis</label>
          </div>
        </div>
        <!-- END .DIFFICULTY-BLOCK -->

        <div class="col-xs-8 text-center">
          <h2>Characteristics</h2>
          <div class="col-xs-1 input-group input-group-lg char-block">
            <input type="number" ng-model="unitInfo.brawn" name="brawnSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
            <br />
            <label for="brawnSelector">Brawn</label>
          </div>
          <div class="col-xs-1 input-group input-group-lg char-block">
            <input type="number" ng-model="unitInfo.agility" name="agilitySelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
            <br />
            <label for="agilitySelector">Agility</label>
          </div>
          <div class="col-xs-1 input-group input-group-lg char-block">
            <input type="number" ng-model="unitInfo.intellect" name="intellectSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
            <br />
            <label for="intellectSelector">Intellect</label>
          </div>
          <div class="col-xs-1 input-group input-group-lg char-block">
            <input type="number" ng-model="unitInfo.cunning" name="cunningSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
            <br />
            <label for="cunningSelector">Cunning</label>
          </div>
          <div class="col-xs-1 input-group input-group-lg char-block">
            <input type="number" ng-model="unitInfo.willpower" name="willpowerSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
            <br />
            <label for="willpowerSelector">Willpower</label>
          </div>
          <div class="col-xs-1 input-group input-group-lg char-block">
            <input type="number" ng-model="unitInfo.presence" name="presenceSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
            <br />
            <label for="presenceSelector">Presence</label>
          </div>
        </div>
        <!-- END CHARACTERISTICS -->
      </div>
      <!-- END CHARS AND DIFFICULTY -->
      <div class="col-xs-12" id="count-and-soak">
        <div class="col-sm-offset-1 col-xs-3">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="checkModel.isGroup" uib-btn-checkbox>More than one baddie?</label>
          </div>
          <div ng-if="checkModel.isGroup" class="btn-group">
            <label for="unitCount"> Unit Count: </label>
            <br>
            <select name="unitCount" ng-model="unitInfo.unitCount">
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
            <br>
            <label for="groupName">Group Name</label>
            <input type="text" ng-model="unitInfo.groupName" name="groupName" class="form-control" aria-describedby="sizing-addon1">
          </div>
        </div>
        <!-- END ADD MORE -->
      </div>
        <!-- END ADD UNITS AND SOAKS -->



      <!-- <div class="col-sm-offset-2 col-sm-8">
        <div class=" col-sm-3 input-group input-group-lg">
          <label for="soakSelector">Soak</label>
          <input type="number" ng-model="unitInfo.soak" name="soakSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-3 input-group input-group-lg">
          <label for="woundThresholdSelector">Wound Threshold</label>
          <input type="number" ng-model="unitInfo.woundThreshold" name="woundThresholdSelector" placeholder="0" class="form-control"
            placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-3 input-group input-group-lg">
          <label for="strainThresholdSelector">Strain Threshold</label>
          <input type="number" ng-model="unitInfo.strainThreshold" name="strainThresholdSelector" placeholder="0" class="form-control"
            aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-3 input-group input-group-lg">
          <label for="meleeDefSelector">Melee Defense</label>
          <input type="number" ng-model="unitInfo.meleeDef" name="meleeDefSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
        <div class="col-sm-3 input-group input-group-lg">
          <label for="rangeDefSelector">Ranged Defense</label>
          <input type="number" ng-model="unitInfo.rangeDef" name="rangeDefSelector" class="form-control" placeholder="0" aria-describedby="sizing-addon1">
        </div>
      </div> END SOAK, THRESHOLDS -->
    </div>
    <!-- END .FORM-GROUP -->
  </form>
</div>