<div id="library-wrapper">
  <div class="col-sm-12">
    <div id="library-creations" class="col-sm-6">
      <h2>My Creations</h2>
      <div class="col-sm-12" ng-repeat="unit in units">
        <h3>{{unit.name}}</h3>
        <p>{{unit.description}}</p>
        <div class="col-sm-12">
          <h5>Characteristics</h5>
          <div class="col-sm-2 text-center">
            <p>{{unit.brawn}}</p>
            <p>BRAWN</p>
          </div>
          <div class="col-sm-2 text-center">
            <p>{{unit.agility}}</p>
            <p>AGILITY</p>
          </div>
          <div class="col-sm-2 text-center">
            <p>{{unit.intellect}}</p>
            <p>INTELLECT</p>
          </div>
          <div class="col-sm-2 text-center">
            <p>{{unit.cunning}}</p>
            <p>CUNNING</p>
          </div>
          <div class="col-sm-2 text-center">
            <p>{{unit.willpower}}</p>
            <p>WILLPOWER</p>
          </div>
          <div class="col-sm-2 text-center">
            <p>{{unit.presence}}</p>
            <p>PRESENCE</p>
          </div>
        </div>
        <div class="col-sm-12 unitButtons">
          <button ng-click="deleteUnit(unit.id)" class="btn btn-danger">Delete</button>
          <button ng-click="toEditUnit(unit.id)" class="btn btn-warning">Edit</button>
          <button ng-click="toDetails(unit.id)" class="btn btn-info">Details</button>
          <button ng-model="checkModel.isGroup" class="btn btn-primary" uib-btn-checkbox>Add to Battle</button>
        </div>
        <div ng-if="checkModel.isGroup" class="btn-group">
          <label for="unitCount"> Add this many:</label>
          <br>
          <select name="unitCount" ng-model="unit.unitCount">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <br>
          <label for="groupName">Group Name</label>
          <input type="text" ng-model="unit.groupName" name="groupName" class="form-control" aria-describedby="sizing-addon1">
          <div>
            <button class="btn btn-primary" ng-click="toBattle(unit, unit.unitCount)">ADD THEM</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>